.carousel-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.project-image {
  height: 30vh;
  width: 100%;
  /* width: 20vw; */
  /* margin: 10px; */
  border: black solid 3px;
}

.project-item {
  background-color: white;
  /* border: solid red 3px; */
  display: flex;
  width: 20vw;
  min-width: 300px !important;
  height: 30vh;
  text-align: center;
  /* margin: 30px; */
  position: relative;
  margin: 10px;
}

.project-name {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  color: white;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  opacity: 0;
  overflow: auto;
}

.project-item:hover .project-name{
  opacity: 1;
}

.carousel-wrapper {
  border: black solid 1px;
  margin-top: 2vh;
  width: 90vw;
  background-image: linear-gradient(to bottom right, #32046c, #b587ee);
  color: white;
  padding: 10px;
}

#carousel-title {
  color: white;
}