.content-modal {
  display: flex;
  /* flex-flow: column wrap; */
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
}

.modal-image {
  width: 50vw;
  height: 40vh;
  border: solid black 2px;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: white;
}

.modal-body {
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.modal-1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.content-title {
  text-decoration: underline;
}

.ant-modal-content {
  background-color:  #e3d2f9 ! important;
}

/* .modal-2 {
  border: solid black 2px;
} */

.content-link {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* align-items: center; */
  /* text-align: center;
  border: solid black 2px; */
}

#github-project {
  vertical-align: middle;
}

.bullets {
  font-size: 16px
}
