.education {
  border-top: solid black 3px;
  /* padding-top: 5vh; */
  padding-bottom: 5vh;
  background-color: #ccc0da;
}

.schools {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.school-logo {
  height: 30vh;
  width: 20vw;
  margin: 10px;
  border: black solid 1px
}

#brown-img {
  background-color: white;
}

.school {
  background-color: #b587ee;
  width: 35vw;
  overflow: auto;
  max-width: 80vw;
  height: 60vh;
  overflow: auto;
  border-radius: 20px;
  padding: 10px;
}