.Home-logo {
  animation: Home-logo-spin infinite 5s linear;
  height: 80px;
}

.header-logo {
  /* height: 80px; */
  /* margin-left: 20px; */
  /* border: green 5px solid */
  border-radius: 20px;
}

.logout-button {
  margin-right: 20px;
}

.header {
  background-image: linear-gradient(to bottom right, #32046c, #b587ee);
  color: white;
  position: fixed;   
  top: 0;   
  width: 100%;
  height: 15vh; /* auto */
  font-size: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 1px;

  overflow: hidden;
  /* padding: 50px 20px; */
  text-align:center;
}

.link {
  font-family: 'Bebas Neue' !important;
  font-size: 35px;
  padding: 20px;
  color: white;
}

@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* @media screen and (max-width: 500px) {
  .header Link {
    float: none;
    display: block;
  }
} */

.header .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .header .link {display: none;}
  .header .logout-button {display: none;}
  /* .header a.icon {
    float: right;
    display: block;
  } */
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/* @media screen and (max-width: 600px) {
  .header.responsive {position: relative;}
  .header.responsive a.icon {
    background-color: pink;
    position: absolute;
    right: 0;
    top: 0;
  }
  .header.responsive #bars {
    background-color: yellow;
    float: none;
    display: block;
    text-align: left;
  }
} */