/* .resource {
  height: 100px
} */

.resource-link:hover .resource {
  background-color: #32046c;
  border-radius: 20px;
}

.header {
  z-index: 10;
}

.resources-container {
  /* height: 30vh; */
  width: 100vw;
  /* margin-top: 30px; */
  margin-bottom: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.resource-item {
  /* width: 20vw; */
  height: 30vh;
  background-color: black;
  border: 2px solid #32046c;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* align-items: center; */
}

#home-main {
  background-color: black;
}

#orange-line {
  background-color: #e29d3a;
}

.olivia-home {
  height: 50vh;
  width: auto;
  /* min-width: 20vw; */
  /* margin: 10px; */
  /* border: black solid 3px */
}

/* 
.intro {
  background-color: lightblue;
  height: 30vh;
  width: 60vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
} */

.olivia-pic {
  height: 30vh;
  width: 20vw;
  border: black solid 3px
}

.home-content {
  border-bottom: solid black 1px;
  text-align: center;
  /* margin-top: 15vh; */
  height: 100vh;
  overflow: hidden;
  /* background-color: orange; */
  /* background-image: linear-gradient(to bottom right, #716bd0, #a6a3d8); */
  background-image: linear-gradient(to bottom right, #c8a5f2, #e3d2f9);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}