.profile {
  /* background-color: lightpink; */
  background-image: linear-gradient(to bottom right, #c8a5f2, #e3d2f9);
  /* margin-top: 15vh; */
  height: 270vh;
  text-align: center;
}

#home-title {
  font-size: 50px;
}

.profile-link {
  padding: 20px;
  color: white;
  font-size: 30px;
}

.section-title {
  margin-top: 20px;
}

#nyc-img {
  width: 100vw !important;
}