.skills {
  border-top: solid black 3px;
  /* margin-top: 5vh; */
  padding-bottom: 5vh;
  background-color: #9982b5;
}

.skills-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.skills-cat {
  width: 40vw;
  background-color: #b587ee;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.skills-head {
  margin-bottom: 3vh;
  text-decoration: underline;
}

.lang-img {
  height: 10vh;
  width: 10vh;
}

.lang {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* .tools {
  background-color: green;
} */